body {
    margin: 0px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    position: relative;
}

.calculatorBody {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border-radius: 25px;
    border-style: solid;
    width: 400px;
    height: 620px;
    background-color: rgb(20, 18, 18);
}

.calculatorScreen {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    

    border-radius: 16px;
    border-style: solid;
    width: 360px;
    height: 100px;
    background-color: rgb(78, 87, 87);
    margin: 20 0 20 0;
}

.screenOutput {
    margin-right: 16px;
}

.calculatorBtns {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-color: aliceblue;
    width: 60px;
    height: 60px;
    background-color: rgb(80, 79, 79);
    color: aliceblue;
    font-size: 32px;
}

.btn:hover {
    background-color: rgb(44, 43, 43)
}

.doubleSize {
    width: 150px;
    height: 60px;
}


.operators {
    background-color: darkorange;
}
.operators:hover {
    background-color: rgb(219, 121, 1);
}

.grey {
    background-color: rgb(150, 147, 147);
}

.grey:hover {
    background-color: rgb(122, 120, 120);
}

p {
    color: aliceblue;
    font-size: 32px;
}
